body {
  background-color: #708144;
}
.main_adicon {
  width: 500px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  margin: auto;
  margin-top: 95px;
  box-shadow: 1px 8px 39px 14px #7a9236;
}
.main_adicon p {
  background-color: #3b3636;
  color: white;
  padding: 4px;
  text-align: center;
  margin-bottom: 33px;
  display: inline-block;
}
.main_adicon h3 {
  padding: 3px;
  background-color: #000000;
  color: white;
  text-align: center;
  margin-top: 32px;
  display: inline-block;
}
.header {
  display: flex;
  background-color: #8e5a00;
  box-shadow: 1px 5px 19px 1px #2a3311;
  justify-content: flex-start;
}
.header h1 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header img {
  margin: 15px;
  width: 46px;
  cursor: pointer;
}

.CreateNotes {
  display: flex;
  flex-direction: column;
  margin: 14px;
  width: 26rem;
  height: 10rem;
  margin-left: 29rem;
  background-color: white;
  border-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 3px 6px 19px 1px #2a3311;
}

.CreateNotes input {
  width: 408px;
  border-top-left-radius: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 35px;
  outline: none;
  border: none;
  font-size: 26px;
  font-weight: bold;
  color: black;
}
.CreateNotes textarea {
  margin-top: 7px;
  width: 408px;
  height: 107px;
  font-size: 18px;
  outline: none;
  color: black;
  border: none;
}
.btnCn {
  position: absolute;
  left: 54.6rem;
  top: 15.1rem;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 50%;
  outline: none;
  border: none;
  width: 31px;
  height: 31px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
}
.btnCn:hover {
  background-color: rgb(9, 118, 12);
  color: white;
}
.notes {
  display: flex;
  /* width: 800px; */
  height: 335px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.note {
  background-color: white;
  margin: 30px;
  height: 136px;
  border-radius: 7px;
  float: left;
  width: 250px;
  /* border:  2px solid red; */
  box-shadow: 3px 6px 19px 1px #2a3311;
}
.note button:hover {
  background-color: #b20707;
  color: white;
}
.note button {
  background-color: #000000;
  color: white;
  border-radius: 50%;
  outline: none;
  border: none;
  width: 31px;
  height: 31px;
  position: fixed;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  margin: 15px 0px 0px 237px;
  display: inline-block;
}
.note h2 {
  letter-spacing: 2px;
  /* border: 1px solid green; */
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 3px;
}
.note p {
  letter-spacing: 1px;
  margin: 0;
  font-size: 18px;
  height: 74px;
  margin-left: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* border: 1px solid blue; */
}
